<div class="well">
    <h4>Post</h4>
    <form role="form">
        <div class="input-group input-group-lg">
            <!-- <span class="input-group-addon" id="sizing-addon1">Title</span> -->
            <input type="text" class="form-control" ng-model="user.text" placeholder="Title of Post" aria-describedby="sizing-addon1">
        </div>
        <div>
            <select ng-model="user.cat">
                <option value="tech">Tech</option>
                <option value="entertainmant">Entermainment</option>
                <option value="autos">autos</option>
            </select>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3" ng-model="user.des" placeholder="Description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="update()">Submit</button>
        <button type="reset" class="btn btn-primary">Clear</button>
    </form>
</div>
<div class="well" ng-repeat="todo in todos">
    <h2 contenteditable="true" ng-model="todo.text">
    <a  >{{ todo.text }}</a>
    </h2>
    <p class="lead">
        by <a>Noor({{ todo.cat }})</a>
    </p>
    <hr>
    <p contenteditable="true" ng-model="todo.des">{{todo.des}}</p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on August 8, 2015 at 10:45 AM</p>
    <a class="btn btn-primary" ng-click="updateTodo(todo._id,todo.text,todo.des)">Save <span class="glyphicon glyphicon-chevron-right"></span></a>
    <a class="btn btn-danger" ng-click="deleteTodo(todo._id)">Delete <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
